
<div id="search-div">
    <input class="form-control" type="text" #userInput placeholder="Enter zipcode">
    <button class="input-group-text-button" (click)="getZip(userInput.value)">Search</button>
</div>


<div id="location">
    <div>{{WeatherData.name}}</div>
    <div>{{WeatherData.data}}</div>
</div>


 <div id="temp">
    <div class="weatherWidgetRow">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow">min: {{WeatherData.temp_min}}° / max: {{WeatherData.temp_max}}°</div>
 </div>

 <div id="feel-humidity">
    <div class="weatherWidgetRow">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow">Humidity: {{WeatherData.main.humidity}}%</div>
 </div>



