
#search-div {
    float: left;
    text-align: center;
    padding-right: 15px;
}

#location {
    float: left;
    text-align: center;
    padding-right: 15px;
    font-size: 35px;
}

#temp {
    float: left;
    text-align: center;
    padding-right: 15px;
    font-size: 23px;
}

#feel-humidity {
    float: left;
    text-align: center;
    font-size: 23px;
}